.container {
  pointer-events: none;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

.leftScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 40;
  pointer-events: none;
}

.topLeft {
  position: absolute;
  top: 0;
  left: 0;
}

.topLeftOrigin {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
}

.rightScreen {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 40;
  pointer-events: none;
}

.topRight {
  position: absolute;
  top: 0;
  right: 0;
}

.topRightOrigin {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: top right;
}
